In [1]:
import pandas as pd

In [12]:
#Sample Data

data={
      'Customer_ID' : ['C001','C002','C003','C004','C005','C006','C007','C008'],
      'Education_Level':['Masters','High_School','PHD','High_School','PHD','Bachelors','Masters','Bachelors'],
      'Product_Quality':['Medium','Low','Medium','High','Low','High','Medium','Low'],
      'Satisfaction_Level':['Average','Poor','Good','Excellent','Poor','Good','Average','Poor']
     }

In [13]:
data=pd.DataFrame(data)
data

  Customer_ID Education_Level Product_Quality Satisfaction_Level
0        C001         Masters          Medium            Average
1        C002     High_School             Low               Poor
2        C003             PHD          Medium               Good
3        C004     High_School            High          Excellent
4        C005             PHD             Low               Poor
5        C006       Bachelors            High               Good
6        C007         Masters          Medium            Average
7        C008       Bachelors             Low               Poor

In [14]:
# Define the order for each ordinal feature

education_order = ['High_School','Bachelors','Masters','PHD']
product_quality_order = ['Low','Medium','High']
satisfaction_order = ['Poor','Average','Good','Excellent']

In [15]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:
encoder = OrdinalEncoder(categories = [education_order,product_quality_order,satisfaction_order])

In [17]:
# Apply encoding (skip CustomerID as it is identifier) 

data[['Education_Level','Product_Quality','Satisfaction_Level']] = encoder.fit_transform(data[['Education_Level','Product_Quality','Satisfaction_Level']])